extends layout.pug

block content
  div.jumbotron
    h1 HN Feed
    h4 We <3 hacker news!

  if newsList.length > 0
    table.table
      tbody
        each news in newsList
          tr(onmouseover='app.showButton(this);', onmouseout='app.hideButton(this);')
            th #{news.title} - #{news.author} -
            th #{news.createdAt}
            th
              form(method='POST', action=`/${news._id}`)
                button.btn-default(type='submit', hidden)
                  i.fas.fa-trash-alt
  else
    p There is no Hacker news feed yet =(